<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ExemploServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ExemploServlet</display-name>
    <servlet-name>ExemploServlet</servlet-name>
    <servlet-class>exemplo.ExemploServlet</servlet-class>
    <init-param>
      <param-name>maximo</param-name>
      <param-value>20</param-value>
    </init-param>
    <init-param>
      <param-name>minimo</param-name>
      <param-value>0</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExemploServlet</servlet-name>
    <url-pattern>/exemplo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DestroyServlet</display-name>
    <servlet-name>DestroyServlet</servlet-name>
    <servlet-class>exemplo.DestroyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DestroyServlet</servlet-name>
    <url-pattern>/destroy</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>exemplo.InicializaListener</listener-class>
  </listener>
  <listener>
    <listener-class>exemplo.OutroListener</listener-class>
  </listener>
  <filter>
    <display-name>ExemploFilter</display-name>
    <filter-name>ExemploFilter</filter-name>
    <filter-class>exemplo.ExemploFilter</filter-class>
    <init-param>
      <description></description>
      <param-name>maximo</param-name>
      <param-value>10</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>minimo</param-name>
      <param-value>0</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ExemploFilter</filter-name>
    <servlet-name>ExemploServlet</servlet-name>
  </filter-mapping>
  <filter>
    <display-name>OutroFilter</display-name>
    <filter-name>OutroFilter</filter-name>
    <filter-class>exemplo.OutroFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OutroFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>IncludeServlet</display-name>
    <servlet-name>IncludeServlet</servlet-name>
    <servlet-class>exemplo.IncludeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludeServlet</servlet-name>
    <url-pattern>/include</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectServlet</display-name>
    <servlet-name>RedirectServlet</servlet-name>
    <servlet-class>exemplo.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectServlet</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardServlet</display-name>
    <servlet-name>ForwardServlet</servlet-name>
    <servlet-class>exemplo.ForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardServlet</servlet-name>
    <url-pattern>/forward</url-pattern>
  </servlet-mapping>
</web-app>